build
unsure_if_can_delete
tmep
pki
target/
.DS_Store
.vscode/
.idea/
database.db
database.db-journal
database.db-wal
database.db-shm
./migrations
**/*.duckdb.wal
**/*.duckdb.shm
**/*.duckdb
**/*.db
**/*.db.wal
**/*.db.shm
**/*.sqlite
**/*.sqlite3
**/*.sqlite3-journal
**/*.sqlite3-wal
**/*.sqlite3-shm
**/restate-data
logs
.cargo/config.toml
/data/
/crates/*/data/
crates/*/data/
sqlc-gen-from-template
**/*.log

app.pid
app.log
secrets.yaml
soma_employee_app_credentials.json
soma_employee_google_credentials.json
secret-service-kms-key.json
.env.secrets
result
var/
root
.cargo
node_modules
.env
.soma
!.soma/bridge-client
# Test coverage
coverage/
.coverage-tmp/
.cargo/config.toml.tmp
