name: Test SDK JS macOS/Windows Binding

on:
  workflow_call:

jobs:
  test-sdk-js-macOS-windows-binding:
    name: Test bindings on ${{ matrix.settings.target }} - node@${{ matrix.node }}
    strategy:
      fail-fast: false
      matrix:
        settings:
          # - host: windows-latest
          #   target: x86_64-pc-windows-msvc
          #   architecture: x64
          - host: macos-latest
            target: aarch64-apple-darwin
            architecture: arm64
          - host: macos-latest
            target: x86_64-apple-darwin
            architecture: x64
        node:
          - '20'
          - '22'
    runs-on: ${{ matrix.settings.host }}
    steps:
      - uses: actions/checkout@v5
      - name: Setup pnpm and Node.js (for frontend build)
        uses: ./.github/actions/setup-pnpm-node
        with:
          install-dependencies: 'true'
          node-version: ${{ matrix.node }}
      - name: Install dependencies
        run: pnpm install --frozen-lockfile
      - name: Download artifacts
        uses: actions/download-artifact@v6
        with:
          name: napi-bindings-${{ matrix.settings.target }}
          path: .
      - name: List packages
        run: ls -R .
        shell: bash
      - name: Test bindings
        working-directory: crates/sdk-js
        run: pnpm test

