name: Common - Build Core JS SDK

on:
  workflow_call:
    inputs:
      revision:
        description: 'Branch or tag to build from'
        required: false
        type: string
        default: 'main'

jobs:
  build-core-js-sdk:
    name: Build Core JS SDK (NAPI) - ${{ matrix.settings.target }}
    runs-on: ${{ matrix.settings.host }}
    strategy:
      fail-fast: false
      matrix:
        settings:
          - host: macos-latest
            target: x86_64-apple-darwin
          # - host: windows-latest
          #   target: x86_64-pc-windows-msvc
          - host: ubuntu-latest
            target: x86_64-unknown-linux-gnu
          - host: macos-latest
            target: aarch64-apple-darwin
          - host: ubuntu-24.04-arm
            target: aarch64-unknown-linux-gnu
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
        with:
          ref: ${{ inputs.revision }}
          submodules: recursive

      - name: Download release changes
        uses: actions/download-artifact@v4
        with:
          name: release-changes

      - name: Apply release changes
        run: tar -xzf release-changes.tar.gz
        shell: bash

      - name: Build and test NAPI bindings
        uses: ./.github/actions/napi-build-test
        with:
          target: ${{ matrix.settings.target }}
          package-manager: pnpm

