name: Test Linux JS SDK Binding

on:
  workflow_call:

jobs:
  test-linux-js-sdk-binding:
    name: Test ${{ matrix.target }} - node@${{ matrix.node }}
    strategy:
      fail-fast: false
      matrix:
        target:
          - x86_64-unknown-linux-gnu
          - aarch64-unknown-linux-gnu
        node:
          - '20'
          - '22'
    runs-on: ${{ contains(matrix.target, 'aarch64') && 'ubuntu-24.04-arm' || 'ubuntu-latest' }}
    steps:
      - uses: actions/checkout@v5
      - name: Setup pnpm and Node.js (for frontend build)
        uses: ./.github/actions/setup-pnpm-node
        with:
          install-dependencies: 'true'
          node-version: ${{ matrix.node }}
  
      - name: Output docker params
        id: docker
        run: |
          node -e "
            if ('${{ matrix.target }}'.startsWith('aarch64')) {
              console.log('PLATFORM=linux/arm64')
            } else if ('${{ matrix.target }}'.startsWith('armv7')) {
              console.log('PLATFORM=linux/arm/v7')
            } else {
              console.log('PLATFORM=linux/amd64')
            }
          " >> $GITHUB_OUTPUT
          node -e "
            if ('${{ matrix.target }}'.endsWith('-musl')) {
              console.log('IMAGE=node:${{ matrix.node }}-alpine')
            } else {
              console.log('IMAGE=node:${{ matrix.node }}-slim')
            }
          " >> $GITHUB_OUTPUT
      - name: Install dependencies
        run: |
          pnpm config set supportedArchitectures.cpu '["current", "arm64", "x64", "arm"]'
          pnpm config set supportedArchitectures.libc '["current", "musl", "gnu"]'
          pnpm install --frozen-lockfile
      - name: Download artifacts
        uses: actions/download-artifact@v6
        with:
          name: napi-bindings-${{ matrix.target }}
          path: .
      - name: List packages
        run: ls -R .
        shell: bash
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
        if: ${{ contains(matrix.target, 'armv7') }}
        with:
          platforms: all
      - run: docker run --rm --privileged multiarch/qemu-user-static --reset -p yes
        if: ${{ contains(matrix.target, 'armv7') }}
      - name: Test bindings
        uses: addnab/docker-run-action@v3
        with:
          image: ${{ steps.docker.outputs.IMAGE }}
          options: '-v ${{ github.workspace }}:${{ github.workspace }} -w ${{ github.workspace }}/crates/sdk-js --platform ${{ steps.docker.outputs.PLATFORM }}'
          run: |
            corepack enable
            corepack prepare pnpm@9 --activate
            pnpm config set supportedArchitectures.cpu '["current", "arm64", "x64", "arm"]'
            pnpm config set supportedArchitectures.libc '["current", "musl", "gnu"]'
            pnpm install --frozen-lockfile
            pnpm test

